
{% load static %}

{% block content %}
<div class="demo-div">
<h1>Other projects</h1>
<br>
<p class="red_text">This is from the home.html file</p>
<p class="text-primary">This is the blue text</p>

<div class="other-list">
    <h2 class="other-list-title">Demonstrations</h2>

    <ul class="other-project-list">
        {% for n in projects %}
        <li class="other-project-item">
            <a href="#other-{{ n.id }}" data-target="other-{{n.id}}" class="other-project-link">
                {% if n.image_1 %}
                <img src="{% static n.image_1 %}" alt="{{ n.name }}" class="other-thumb">
                {% endif %}
                <div class="other-text-block">
                    <span class="other-name">{{ n.name }}</span>
                    <span class="other-desc">{{ n.description_1 }}</span>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>


</div>

{% endblock %}