
{% block content %}

{% load static %}
<div class="demo-div">
{% if project.layout_type == 1 %}
<div>
    <H1>{{project.name}}</H1>
    <br>
    <p>{{project.description_1}}</p>
    <br>
    <div class="video-wrap">
        <video controls playsinline preload="metadata">
            <source src='{% static project.animation_url_1 %}' type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>
{% elif project.layout_type == 2 %}
<div>
    <H1>{{project.name}}</H1>
    <br>
    <p>{{project.description_1 | linebreaksbr}}</p>
    <br>
    <div>
        <div class="video-wrap">
            <video controls playsinline preload="metadata">
                <source src='{% static project.animation_url_1 %}' type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <br>
        <br>
        <p>{{project.description_2 | linebreaksbr}}</p>
        <div class="video-wrap">
            <video controls playsinline preload="metadata">
                <source src='{% static project.animation_url_2 %}' type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <br>
        <br>
        <p>{{project.description_3 | linebreaksbr}}</p>
        <br>
        <div class="video-wrap">
            <video controls playsinline preload="metadata">
                <source src='{% static project.animation_url_3 %}' type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <br>
        <br>
        <p>{{project.description_4 | linebreaksbr}}</p>
        <div class="video-wrap">
            <video controls playsinline preload="metadata">
                <source src='{% static project.animation_url_4 %}' type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <br>
        <br>
    </div>
</div>
{% else %}
<div>
    <H1>{{project.name}}</H1>
    <p>{{project.layout_type}}</p>
    <p>
        Unknown layout type!
    </p>
</div>
{% endif %}
</div>
{% endblock %}